<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>New user signed in <br>
    --------------------------
    </p>
    <p>hello admin! </p>
    <p>New user signup details.</p>
    <p>Name: <%= @user_last.firstname %></p>
    <p>Email: <%= @user_last.email %></p>
  </body>
</html>