<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container">
      <p>Your response saved successfully <br>
          --------------------------
      </p>
      <p>contact details.</p>
      <p>NAME: <%= @contact.name %></p>
      <p>EMAIL: <%= @contact.email %></p>
      <p>CONTACT_NO: <%= @contact.contact_no %></p>
      <p>MESSAGE: <%= @contact.message %></p>
    </div>
  </body>
</html>