<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container">
        <p>Your Order Status for today<br>
        --------------------------
        </p>
        <p>Order placed in day.</p>
        <%@total_orders.each do |order| %>
            <%#binding.pry %>
            <span>order_id: <%=order.id %></span>
            <span>User email: <%= order.user.email %></span>
            <span>order_status: <%= order.order_status %></span>
            <br>
        <% end %>
        
        <p>Total Orders count is : <strong><%= @total_orders.count %></strong></p>
        
    </div>
  </body>
</html>