<%= form_for :filter, url: products_path, method: :get do |form| %>
	<label style="margin-top: 20px;">Select Price Up-to - </label>
  <div class="value">0</div>
  <%= form.range_field :amount, min: "0", max:"10000", step:"100" %>
  <br>
  <br>
  <%= form.submit "Apply-Filter"%>
<% end %>